.mainBoard{
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 100vh;
  height: 100%;
  width: auto;
  align-items: center;
  justify-content: flex-start;
  background-color: #e0e5ec;
}