.todoBoard{
  height: auto;
  width: 80%;
  max-width: 900px;
  border: 1px solid #ffffff00;
  border-radius: 25px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
              7px 7px 20px 0px rgba(0, 0, 0, .1),
              4px 4px 5px 0px rgba(0, 0, 0, .1);
  padding: 1.5rem;
  text-align: center;
  background-color: transparent;
    h1{
      margin-bottom: 1rem;
    }
}

.form{
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
}

.todoInput{
  height: 100%;
  width: 80%;
  padding-left: 1rem;
  margin-right: 0.5rem;
  border: none;
  border-radius: 10px;
}

.todoSubmit{
  height: 100%;
  width: 3rem;
  border: none;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
  7px 7px 20px 0px rgba(0, 0, 0, .1),
  4px 4px 5px 0px rgba(0, 0, 0, .1);
}
