.listFrame{
  height: auto;
  width: 80%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.listItem{
  height: auto;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #ffffff00;
  border-radius: 25px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
              7px 7px 20px 0px rgba(0, 0, 0, .1),
              4px 4px 5px 0px rgba(0, 0, 0, .1);
  padding: 1rem;
  background-color: transparent;
  word-break: normal;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkBox {
  appearance: none;
  width: 1.8rem;
  height: 1.8rem;
  border: 2px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
              7px 7px 20px 0px rgba(0, 0, 0, .1),
              4px 4px 5px 0px rgba(0, 0, 0, .1);
}

.checkBox:checked {
  background-size: cover;
  background-image: url("C:/Users/dudgn/Desktop/React-practice/todo/public/check.png");
  box-shadow: 2px 2px 2px 0px rgba(255, 255, 255, .5), 
  inset 7px 7px 20px 0px rgba(0, 0, 0, .1), 
  inset 4px 4px 5px 0px rgba(0, 0, 0, .1);
}

.delBtn{
  height: 1.8rem;
  width: 1.8rem;
  border: none;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
              7px 7px 20px 0px rgba(0, 0, 0, .1),
              4px 4px 5px 0px rgba(0, 0, 0, .1);
  cursor: pointer;
}

.delBtn:active{
  box-shadow: 2px 2px 2px 0px rgba(255, 255, 255, .5), 
  inset 7px 7px 20px 0px rgba(0, 0, 0, .1), 
  inset 4px 4px 5px 0px rgba(0, 0, 0, .1);
 }
