
.before,
.after {
  display: flex;
  align-items: center;
  padding: 10px;
  width: calc(100% - 3.6rem);
  justify-content: center;
}

.beforeContent,
.afterContent {
  text-align: center;
  flex: 1;
}

.editInput {
  width: 90%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.updateBtn{
  margin-right: 10px;
}

.updateBtn,
.cancelBtn,
.modifyBtn {
  height: 1.8rem;
  width: 1.8rem;
  border: none;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
              7px 7px 20px 0px rgba(0, 0, 0, .1),
              4px 4px 5px 0px rgba(0, 0, 0, .1);
  cursor: pointer;
}

.modifyBtn {
  margin-left: 10px;
}

.updateBtn:active,
.cancelBtn:active,
.modifyBtn:active {
  box-shadow: 2px 2px 2px 0px rgba(255, 255, 255, .5), 
  inset 7px 7px 20px 0px rgba(0, 0, 0, .1), 
  inset 4px 4px 5px 0px rgba(0, 0, 0, .1);
}
